<h1>{{title}}</h1>
<p>Welcome to login</p>
<form id="login-form" action="/login" method="POST">
	<div>	
		<label>account</label>
		<input type="text" name="account"/>
	</div>
	<div><input id="submit-btn" type="submit" name="submit" value="提交"/></div>
	<p id="tip" style="display: none;">登陆失败</p>
</form>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
<script type="text/javascript">
	$(function() {
		var submitBtn = $('#submit-btn');
		var form = $('#login-form');
		var tip = $('#tip')

		submitBtn.on('click', function(e) {
			tip.hide() //
			e.preventDefault()
			$.ajax({
				type: 'POST',
				data: $('#login-form').serialize(),
				success: function(res) {
					if(res && res.success) {
						window.location.href = 'http://localhost:3000/user'
					} else {
						tip.show()
					}
				}
			})
		})
	})
</script>